.screen-schedule {
    padding: 100px 0 0;
    background-image: none;

    animation-name: schedule-fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    @keyframes schedule-fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .title-separator {
        display: block;
        height: 1px;
        width: 20%;
        background-color: var(--dark-color);
    }

    &__title,
    &__place-headline,
    &__teaser-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-size: 56px;
        font-family: "Wedding", Georgia, 'Times New Roman', Times, serif;
    }

    &__title {
        background-color: var(--light-color);
        margin: 0;
        padding: 50px 20px;
        margin: 100px 0 0;
    }

    &__place-headline {
        margin: 50px 0;
        padding: 0 20px;
    }

    &__teaser-title {
        margin: 0 0 24px;
    }

    &__program,
    &__place-infos {
        margin: 0 0 100px;
        font-size: 28px;
    }

    &__program {
        list-style-type: none;
        background-color: var(--light-color);
        padding: 0 30px 100px;
        // margin-left: auto;
    }

    &__place-infos {
        padding: 0 50px;
    }

    &__program-item {
        --highlight-color: var(--base-color);//var(--accent-color);

        &:nth-of-type(2) {
            .time {animation-delay: 1s;}
        }
        &:nth-of-type(3) {
            .time {animation-delay: 2s;}
        }
        &:nth-of-type(4) {
            .time {animation-delay: 3s;}
        }

        .time {
            font-style: normal;
            font-weight: bold;

            animation-name: list-item-flash;
            animation-duration: 4s;
            animation-iteration-count: infinite;
    
            @keyframes list-item-flash {
                0% {
                    color: var(--dark-color);
                }
                10% {
                    color: var(--highlight-color);
                }
                50% {
                    color: var(--dark-color);
                }
                100% {
                    color: var(--dark-color);
                }
            }
        }
    }

    &__teaser {
        font-size: 22px;
        padding: 50px 22px;
        margin: 0;
        background-color: var(--light-color);
        min-height: 25vh;

        // .rhyme {
        //     display: block;
        //     text-align: center;
        //     // text-indent: 24px;

        //     &::first-letter {
        //         font-size: 24px;
        //         font-weight: bold;
        //         text-transform: uppercase;
        //     }
        // }
    }
}

@media (min-width: 1001px) {
    .screen-schedule {
        li {
            transition: scale .25s;
            &:hover {
                scale: 1.2;
            }
        }

        &__main {
            display: flex;
            justify-content: center;
            gap: 50px;
            margin: 0 0 160px;
        }

        &__program {
            margin-right: auto;
        }

        &__program-item {
            --highlight-color: var(--light-color);
        }

        &__title,
        &__place-headline {
            font-size: 48px;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after {
                content: ":";
            }

            .title-separator {
                display: none;
            }
        }

        &__title {
            padding: 0;
            margin: 0;
            background-color: transparent
        }

        &__place-headline {
            margin: 0;
        }

        &__program,
        &__place-infos {
            font-size: 26px;
        }

        &__program {
            background-color: var(--base-color);
            padding: 0;
            margin: 0;
            padding-right: 50px;
            border-right: 1px solid var(--dark-color);
        }

        &__place-infos {
            margin: 0;
        }

        &__teaser-title {
            justify-content: center;
            gap: 48px;
            font-size: 48px;
            margin: 0 0 60px;
        }

        .component-title {
            margin: 0 32px;
        }
    }
}