.screen-schedule {
    animation-name: schedule-fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    @keyframes schedule-fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    &__title,
    &__place-headline {
        text-align: center;
        font-size: 32px;
    }

    &__title {
        background-color: var(--light-color);
        margin: 0;
        padding: 28px 0;
    }

    &__program,
    &__place-infos {
        margin: 0 0 32px;
        font-size: 20px;
    }

    &__program {
        background-color: var(--light-color);
        padding: 0 0 30px 30px
        // margin-left: auto;
    }

    &__program-item {
        .time {
            font-style: normal;
            font-weight: bold;
        }
    }

    &__message {
        font-size: 22px;
        padding: 22px;
        margin: 0;
        background-color: var(--light-color);
        min-height: 25vh;

        .rhyme {
            display: block;
            text-align: center;
            // text-indent: 24px;

            &::first-letter {
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}

@media (min-width: 1001px) {
    .screen-schedule {
        &__main {
            display: flex;
            justify-content: center;
            gap: 50px;
            margin: 0 0 50px;
        }

        &__program {
            margin-right: auto;
        }

        &__title,
        &__place-headline {
            font-size: 36px;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after {
                content: ":";
            }
        }

        &__title {
            padding: 0;
            background-color: var(--base-color);
        }

        &__place-headline {
            margin: 0;
        }

        &__program,
        &__place-infos {
            font-size: 26px;
        }

        &__program {
            background-color: var(--base-color);
            padding: 0;
            margin: 0;
            padding-right: 50px;
            border-right: 1px solid var(--dark-color);
        }

        &__place-infos {
            margin: 0;
        }

        &__message {
            padding: 50px 0 0;
            margin: 0 auto;
            border-top: 1px solid var(--dark-color);
            font-size: 24px;
            background-color: var(--base-color);
            width: 66%;

            .rhyme {    
                &::first-letter {
                    font-size: 28px;
                }
            }
        }

        .component-title {
            margin: 0 32px;
        }
    }
}