.screen-schedule {
    animation-name: schedule-fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    @keyframes schedule-fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    &__title,
    &__place-headline {
        font-style: italic;
        text-align: center;
        font-size: 32px;
    }

    &__program,
    &__place-infos {
        list-style-type: none;
        padding: 0;
        margin: 0 0 32px;
        font-size: 20px;
    }

    &__program {
        width: fit-content;
        margin-left: auto;
    }

    &__place-info {
        text-align: center;
    }

    &__program-item {
        .time {
            font-style: normal;
            font-weight: bold;
        }
    }

    &__message {
        font-size: 22px;
        margin: 0 0 22px;
        padding: 22px 0 0;
        border-top: 1px solid var(--light-color);

        .rhyme {
            display: block;
            text-align: center;
            // text-indent: 24px;

            &::first-letter {
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}

@media (min-width: 421px) {
    .screen-schedule {
        &__program {
            width: fit-content;
            margin-right: auto;
        }

        &__title,
        &__place-headline {
            font-size: 48px;
        }

        &__program,
        &__place-infos {
            font-size: 26px;
        }

        &__message {
            font-size: 32px;

            .rhyme {    
                &::first-letter {
                    font-size: 34px;
                }
            }
        }

        .component-title {
            margin: 0 32px;
        }
    }
}