<section class="screen-gifts">
    <twiggy-title title="Gifts"></twiggy-title>
    <div class="container">
        <ul
            class="screen-gifts__items"
        >
            <li *ngFor="let gift of gifts" class="screen-gifts__item">
                <label class="item__label">
                    <input
                        type="checkbox"
                        class="item__checkbox"
                        [checked]="gift.taken"
                        (change)="toggleGiftTaken(gift)"
                    >
                    {{gift.name}}
                </label>
            </li>
            <li
                [ngClass]="{
                    'screen-gifts__item': true,
                    'screen-gifts__item--input': true,
                    'screen-gifts__item--filled-input': customGift !== ''
                }"
            >
                <input
                    type="text"
                    (input)="saveCustomGift($event)"
                    class="screen-gifts__custom-gift"
                    placeholder="Other..."
                >
            </li>
        </ul>
        <button
            class="button"
            (click)="submitGifts()"
        >
            Commit Gifts
        </button>
    </div>
</section>