.component-cover {
    overflow: hidden;
    position: relative;

    &__images {
        --navigation-height: 50px;
        position: relative;
        width: 100svw;
        height: 100vh //calc(100svh - var(--navigation-height));
    }

    &__language {
        --banner-size: 40px;
        --banner-margin: 20px;
        --color-1: transparent;
        --color-2: transparent;
        --color-3: transparent;

        width: var(--banner-size);
        height: var(--banner-size);
        position: absolute;
        top: var(--banner-margin);
        left: var(--banner-margin);
        z-index: 1;
        border-radius: 50%;
        overflow: hidden;

        .stripe {
            display: block;
            height: 33.33%;
            width: 100%;
            transition: background-color .25s;
            &:nth-child(1) {
                background-color: var(--color-1);
            }
            &:nth-child(2) {
                background-color: var(--color-2);
            }
            &:nth-child(3) {
                background-color: var(--color-3);
            }
        }

        &--hu {
            --color-1: red;
            --color-2: white;
            --color-3: green;
        }

        &--de {
            --color-1: black;
            --color-2: red;
            --color-3: gold;
        }
    }

    &__image {
        width: 100vmin;
        object-fit: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 2s;

        &--active {
            opacity: 1;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }

        &--active.component-cover__image--left {
            animation-name: left-slide;
        }

        &--active.component-cover__image--right {
            animation-name: right-slide;
        }

        @keyframes left-slide {
            from {
                translate: -100% 0;
            }
            to {
                translate: 0 0;
            }
        }

        @keyframes right-slide {
            from {
                translate: 100% 0;
            }
            to {
                translate: 0 0;
            }
        }
    }

    &__navigation {
        --active-color: lightblue;

        position: absolute;
        top: 50%;
        translate: 0 -50%;
        height: 100%;
        width: 25%;
        padding: 0;
        font-size: 36px;
        color: rgba($color: black, $alpha: .5);
        border: none;
        background-color: transparent;
        box-sizing: border-box;
        background-image: linear-gradient(to right, transparent, transparent);
        background-repeat: no-repeat;
        transition: all .5s;

        &:nth-last-of-type(2) {
            background-image: linear-gradient(to left, transparent, transparent);
        }

        &:focus-visible {
            outline: none;
        }

        &:active {
            font-size: 48px;
            background-image: linear-gradient(to right, transparent, var(--active-color));

            &:nth-last-of-type(2) {
                background-image: linear-gradient(to left, transparent, var(--active-color));
            }
        }

        &:nth-of-type(1) {
            left: 0px;
        }

        &:nth-of-type(2) {
            right: 0px;
        }
    }
}

@media (min-width: 769px) {
    .component-cover {
        &__images {
            --navigation-height: 70px;
        }

        &__image {
            max-height: 100%;
        }

        &__navigation {
            --active-color: white;

            cursor: pointer;
        }
    }
}