.component-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 50px;
    font-size: 36px;
    margin: 0 0 32px;
    padding: 32px 0 0;

    &__twig {
        height: 100%;
        width: 25%;
        object-fit: contain;

        &:last-child {
            transform: scaleX(-1);
        }
    }

    &__headline {
        display: inline-block;
        text-align: center;
        width: 45%;
        line-break: anywhere;

    }
}

@media (min-width: 421px) {
    .component-title {
        justify-content: center;
        gap: 40px;
        height: 150px;
        font-size: 48px;
        margin: 0 0 60px;
        padding: 60px 0 0;

        &__headline {
            width: unset;
        }
    }
}