.screen-fotos {
    animation-name: screen-fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    &__qr {
        width: 70%;
        object-fit: contain;
        display: block;
        margin: 0 auto 48px auto;
        box-shadow: 0 0 20px rgba(0,0,0,.5);
        border-radius: 10px;
        transition: scale .25s;
        cursor: pointer;

        &--zoomed {
            scale: 1.5;
        }
    }

    &__call {
        font-size: 24px;
        margin: 0 0 48px;

        em {
            font-style: normal;
            font-weight: bold;
        }

        a {
            color: var(--base-color);
            background-color: var(--dark-color);
            transition: background-color .25s;

            &:hover {
                background-color: var(--light-color);
            }
        }
    }

    &__fotos-title {
        --title-sizer: 24px;
        text-align: center;
        font-size: var(--title-sizer);
        padding: var(--title-sizer) 0 0;
        margin: 0 0 var(--title-sizer);
        border-top: 1px solid var(--dark-color);
    }
}

@media (min-width: 769px) {
    .screen-fotos {
        padding: 64px 0 0;
        background-image: var(--background-gradient);

        &__qr {
            width: 25%;
            margin: 0 auto 60px auto;
        }

        &__call {
            font-size: 36px;
            text-align: center;
        }

        &__fotos-title {
            --title-sizer: 36px;
        }
    }
}