<section class="screen-fotos">
    <div class="container">
        <twiggy-title title="Photos"></twiggy-title>
        <img
            src="assets/images/drive-link.png"
            (click)="toggleZoom()"
            [ngClass]="{
                'screen-fotos__qr': true,
                'screen-fotos__qr--zoomed': zoomed
            }"
        >
        <!-- <p>Feel free to upload the images you took of our great day <a href="https://www.google.com/drive">here</a></p> -->
        <p class="screen-fotos__call">
            <em>Upload</em> / download images of our great day <a href="https://www.google.com/drive">here</a>!
        </p>
        <h3 class="screen-fotos__fotos-title">Our favourites so far</h3>
        <gallery [imageUrls]="favourites"></gallery>
    </div>
</section>