<section class="screen-directions">
    <twiggy-title title="Accommodation"></twiggy-title>
    <div class="container">
        <div class="screen-directions__accommodation">
            <h2 class="accommodation__headline">
                Hôtel Première Classe Saint Brice Sous Forêt
            </h2>
            <h3 class="accommodation__address">
                Rue du Champ Gallois, 95350 Saint-Brice-sous-Forêt, France
            </h3>
            <ul class="accommodation__information">
                <li>Let us now if we can reserve a place for you</li>
                <li>Otherwise, you can visit the hotel's website <a href="https://saint-brice-sous-foret.premiereclasse.com/en-us/?sr=SEO_GOOGLE">here</a></li>
                <li>More hotels near Château Bouffémont <a href="https://www.google.com/maps/search/hotels+near+Ch%C3%A2teau+Bouff%C3%A9mont/@49.0880945,2.1445429,11z/data=!3m1!4b1?entry=ttu">here</a></li>
            </ul>
        </div>
        <div class="screen-directions__directions">
            <h2 class="directions__headline">
                Directions
            </h2>
            <iframe class="directions__map" style="border:0" loading="lazy" allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d104993.21046974364!2d2.2502153!3d48.9481007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m3!3m2!1d48.9917779!2d2.3623723!4m3!3m2!1d48.8527288!2d2.3505635!4m3!3m2!1d49.0438785!2d2.2934348!5e0!3m2!1sen!2sfr!4v1621863066088!5m2!1sen!2sfr">
            </iframe>
        </div>       
    </div>

</section>