.component-navigation {
    position: relative;

    &__toggle-bar {
        background-color: var(--light-color);
        display: flex;
        justify-content: flex-end;
        padding: 5px;
    }

    &__menu-toggle {
        --dimensions: 40px;
        --line-width: 3px;
        --line-color: var(--dark-color);

        width: var(--dimensions);
        height: var(--dimensions);
        border: var(--line-width) solid var(--line-color);
        background-color: var(--light-color);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .menu-toggle {
            &__stripe {
                display: block;
                width: 80%;
                height: var(--line-width);
                background-color: var(--line-color);
            }
        }
    }

    &__items {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 100;
        min-width: 70vw;
        min-height: 50vh;
        margin: 0;
        padding: 5px;
        list-style-type: none;
        transition: all .25s;
        background-color: var(--light-color);
        border-radius: 5px;
        box-shadow: 0 0 20px rgba(0,0,0,.5);

        &--closed {
            translate: 0px -100%;
            box-shadow: none;
        }
    }

    &__item {
        width: 40%;
        text-align: center;
        padding: 20px;
        border-top: 1px solid var(--dark-color);
        margin: 0 auto;

        a {
            font-size: 18px;
            color: var(--dark-color);
            text-decoration: none;
            font-weight: bold;
            transition: all .25s;
        }

        &--closer {
            display: flex;
            justify-content: flex-end;
        }
    }
}

@media (min-width: 421px) {
    .component-navigation {
        position: unset;

        &__toggle-bar {
            display: none;
        }

        &__items {
            position: unset;
            min-width: unset;
            min-height: unset;
            margin: 0;
            padding: 0;
            list-style-type: none;
            transition: all .25s;
            background-color: var(--light-color);
            box-shadow: unset;
            border-radius: 0px;
            display: flex;
    
            &--closed {
                translate: 0px 0px;
            }
        }

        &__item {
            width: unset;
            text-align: unset;
            padding: 0;
            border-bottom: none;
            margin: 0;

            a {
                display: block;
                font-size: 20px;
                font-weight: normal;
                padding: 20px;
                border: 1px solid var(--dark-color);
                border-bottom: 3px solid var(--dark-color);
                border-radius: 10px;
                background-color: var(--light-color);

                &.active,
                &:hover {
                    background-color: var(--dark-color);
                    color: var(--light-color);
                    border-color: var(--light-color);
                    // font-weight: bold;
                }
            }

            &--closer {
                display: none;
            }
        }
    }
}