table {
    border-collapse: collapse;
    border: 2px solid var(--accent-color);
    font-size: 24px;
    margin: 0 auto 24px auto;

    th,
    td {
        padding: 10px;
    }

    thead {
        tr {
            background-color: var(--accent-color);
            color: var(--dark-color);
            border-bottom: 3px double var(--accent-color);
        }
    }

    tbody {
        tr {
            background-color: var(--base-color);
            border-bottom: 2px solid var(--accent-color);

            &:nth-child(even) {
                background-color: var(--dark-color);
                color: var(--light-color);
            }

            td {
                border-right: 1px solid var(--light-color);
            }
        }
    }
}

@media (min-width: 421px) {
    table {
        margin: 0 auto 48px auto;
    }
}